/* RESET */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
h1 {
    color: #29b1dd;
    padding-top: 15px;
}

header {
    height: 50px;
    background-color: white;
}

/* MAIN */



.main-action {
    background-color: #29b1dd;
}

.main-action span {
    color: white;
    padding-right: 10px;
}

.main-action .container {
    height: 50px;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 2px 2px lightgray;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: 15px 10px 15px 0;
    background-color: white;
}

.all-cards .flex {
    flex-wrap: wrap;
}

